*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}
/* Typography */
body {
  margin: 0;
  background-color: #F5F7FB;
  font: 500 1rem "Inter", sans-serif;
  color: #293264;
}

.intro-title {
  margin: 0;
  font: 700 2.5rem "Karla", sans-serif;
}

.intro-title,
.intro-desc {
  text-align: center;
}

.intro-btn {
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  background-color: #4D5B9E;
  font: 500 1rem "Inter", sans-serif;
  color: #F5F7FB;
}

.intro-btn:focus,
.intro-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* Reusable Styles */
.container {
  width: 75%;
}

/* General Styles */
#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blob--left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.blob--right {
  position: absolute;
  top: 0;
  right: 0;
}

.intro-desc {
  margin: .75em 0 2.75em;
}